<?xml version="1.0"?>
<!--
  ~ Copyright Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mollie_general>
                <version>v2.48.0</version>
                <active>0</active>
                <enabled>0</enabled>
                <type>test</type>
                <payment_images>1</payment_images>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
                <invoice_moment>authorize</invoice_moment>
                <invoice_notify>1</invoice_notify>
                <invoice_notify_klarna>1</invoice_notify_klarna>
                <!-- Deprecated option -->
                <loading_screen>0</loading_screen>
                <debug>1</debug>
                <model>Mollie\Payment\Model\Methods\General</model>
                <currency>1</currency>
                <cancel_failed_orders>0</cancel_failed_orders>
                <use_custom_redirect_url>0</use_custom_redirect_url>
                <second_chance_email_template>mollie_second_chance_email_second_chance_email_second_chance_email_template</second_chance_email_template>
                <dashboard_url_orders_api>https://my.mollie.com/dashboard/orders/{id}</dashboard_url_orders_api>
                <dashboard_url_payments_api>https://my.mollie.com/dashboard/payments/{id}</dashboard_url_payments_api>
                <use_webhooks>enabled</use_webhooks>
                <automatically_send_second_chance_emails>0</automatically_send_second_chance_emails>
                <second_chance_email_delay>1</second_chance_email_delay>
                <second_chance_use_payment_method>use_method_of_original_order</second_chance_use_payment_method>
                <redirect_when_transaction_fails_to>redirect_to_cart</redirect_when_transaction_fails_to>
                <enable_magento_vault>0</enable_magento_vault>
                <apikey_test backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <apikey_live backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <encrypt_payment_details>0</encrypt_payment_details>
                <enable_manual_capture>0</enable_manual_capture>
                <enable_methods_api>1</enable_methods_api>
                <enable_pending_order_cron>1</enable_pending_order_cron>
                <pending_order_cron_batch_size>25</pending_order_cron_batch_size>
            </mollie_general>
            <mollie_methods_general>
                <model>Mollie\Payment\Model\Methods\General</model>
                <can_use_checkout>1</can_use_checkout>
                <can_order>1</can_order>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_internal>0</can_use_internal>
                <can_cancel>1</can_cancel>
                <can_authorize>0</can_authorize>
                <can_authorize_vault>0</can_authorize_vault>
                <can_edit>1</can_edit>
            </mollie_methods_general>
            <mollie_methods_applepay>
                <active>0</active>
                <model>Mollie\Payment\Model\Methods\ApplePay</model>
                <enable_buy_now_button>0</enable_buy_now_button>
                <buy_now_button_color>black</buy_now_button_color>
                <buy_now_button_text>check-out</buy_now_button_text>
                <minicart_button_color>black</minicart_button_color>
                <minicart_button_text>check-out</minicart_button_text>
                <title>Apple Pay</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
                <integration_type>external</integration_type>
                <can_use_checkout>1</can_use_checkout>
                <can_order>1</can_order>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_internal>0</can_use_internal>
                <can_cancel>1</can_cancel>
                <can_authorize>0</can_authorize>
                <can_authorize_vault>0</can_authorize_vault>
                <can_edit>1</can_edit>
            </mollie_methods_applepay>
            <mollie_methods_creditcard>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Creditcard</model>
                <title>Credit Cards</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
                <can_use_checkout>1</can_use_checkout>
                <can_order>1</can_order>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_internal>0</can_use_internal>
                <can_cancel>1</can_cancel>
                <can_authorize>0</can_authorize>
                <can_authorize_vault>1</can_authorize_vault>
                <instant_purchase>
                    <supported>1</supported>
                    <available>Mollie\Payment\Service\InstantPurchase\AvailabilityCheck</available>
                </instant_purchase>
            </mollie_methods_creditcard>
            <mollie_methods_creditcard_vault>
                <title>Stored Card (Mollie)</title>
                <model>Mollie\Payment\Model\Methods\CreditcardVault</model>
            </mollie_methods_creditcard_vault>
            <mollie_methods_paymentlink>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Paymentlink</model>
                <title>Mollie: Payment Link</title>
                <payment_description>{ordernumber}</payment_description>
                <method>order</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <message><![CDATA[Click <a href="%link%">here</a> to pay for your purchase.]]></message>
                <instructions/>
                <can_initialize>1</can_initialize>
                <can_use_checkout>0</can_use_checkout>
                <can_order>1</can_order>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_internal>1</can_use_internal>
                <can_cancel>1</can_cancel>
                <can_authorize>0</can_authorize>
                <can_authorize_vault>0</can_authorize_vault>
                <can_edit>1</can_edit>
            </mollie_methods_paymentlink>
        </payment>
        <sales>
            <totals_sort>
                <mollie_payment_fee>25</mollie_payment_fee>
            </totals_sort>
        </sales>
    </default>
</config>
